<div style="padding-top: 2%; height: 100%;" class="container">
    <div class="row" style="height: 100%;">
      <div class="col-md-12"> 
        <div *ngIf="clinic">
          <h1>{{clinic['Clinic Name']}}</h1>
          <h2>{{clinic.Category}}</h2> 
          <div>{{clinic.Address}}</div>

          <br>
          <div class="row">
            <div class="col-md-6">
              <h4>Doctor(s)</h4>
              <div *ngIf="clinic['Doctor(s)/practitioner'].length !== 0 else noDoc">
                <div *ngFor="let doctor of clinic['Doctor(s)/practitioner']">{{doctor}}</div>
              </div>
              <ng-template #noDoc>
                <div>
                  No Doctors are currently registered in this clinic.
                </div>
              </ng-template>
            </div>
            <div class="col-md-6">
              <h4>Clinic Specialties:</h4>
              <div *ngIf="clinic['Specialties'].length !== 0 else noSpec">
                <div *ngFor="let Specialty of clinic['Specialties']">{{Specialty}}</div>
              </div>
              <ng-template #noSpec>
                <div>
                  This clinic has no specialties.
                </div>
              </ng-template>
            </div>
          </div>


          <br>
          <div class="row">
            <div class="col-md-6">
              <h4>Hours</h4>
              <div>Monday: {{clinic.Hours.Monday}}</div>
              <div>Tuesday: {{clinic.Hours.Tuesday}}</div>
              <div>Wednesday: {{clinic.Hours.Wednesday}}</div>
              <div>Thursday: {{clinic.Hours.Thursday}}</div>
              <div>Friday: {{clinic.Hours.Friday}}</div>
              <div>Saturday: {{clinic.Hours.Saturday}}</div>
              <div>Sunday: {{clinic.Hours.Sunday}}</div>
            </div>
            <div class="col-md-6">
              <h4>Covered by</h4>
              <div *ngIf="clinic['Insurance'].length !== 0 else noIns">
                <div *ngFor="let Insurance of clinic['Insurance']">{{Insurance}}</div>
              </div>
              <ng-template #noIns>
                <div>
                  No Insurances currently covers this clinic.<br>
                </div>
              </ng-template>
            </div>
          </div>

          <br>
          <h4>Consultation fees (Per Session)</h4>
          <div>Minimum: {{clinic['Minimum Fee per session']}}</div>
          <div>Maximum: {{clinic['Maximum Fee per session']}}</div>
          
        </div>
    </div>
  </div>
</div>