.bg_hldr{
    padding:6% 0;
}
.form-control{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #cf3150;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
    border-radius: 0;
    color:#fff;
}
button {
    background: linear-gradient(-90deg, #df526e, #cf3150);
    border-radius: 40px;
    border: 0;
    padding: 12px 40px;
    display: block;
    margin: 30px auto 0;
    text-transform: uppercase;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
    box-shadow: none !important; 
    border-color:#cf3150 !important;
    background: linear-gradient(-90deg, #df526e, #cf3150) !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-transform: uppercase;
    color:#fff;
}
::-moz-placeholder { /* Firefox 19+ */
    text-transform: uppercase;
    color:#fff;
}
:-ms-input-placeholder { /* IE 10+ */
    text-transform: uppercase;
    color:#fff;
}
:-moz-placeholder { /* Firefox 18- */
    text-transform: uppercase;
    color:#fff;
}
.form-control:focus{box-shadow:none !important;}
h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}