<div class="bg_hldr">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-lg-4 col">
          <img class="lgn-icn" src="assets/images/igaku-fav.png"/>
          <h1>Contact Us</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-lg-6 col">
        <input type="text" class="form-control form-text" placeholder="How would you like to be addressed? (Name)">
        <br>
        <input type="text" class="form-control form-text" placeholder="Email">
        <br>
        <textarea class="form-control form-text" style="height: 200px" placeholder="Please provide us with the details of your query here:"></textarea>
        <br>
        <button class="btn-info btn">Submit</button>
      </div>
    </div>
  </div>
</div>