agm-map {
    height: 500px;
}
mgl-map {
    height: 800px;
    width: 100%;
}
#loclins.card {
    border:0;
}
#loclins hr {
    margin: 10px 0 0;
}
#loclins .slide-details{
    margin:0 0 20px;
}
.custom__item-inner.custom__item-inner--image {
    height: 200px;
    overflow: hidden;
}
.swiper-slide #items {
    padding: 15px 20px 0;
    border-bottom: 1px solid #ccc;
    margin: 0 20px;
    height: 130px;
    position: relative;
}
.geocoder {
    position:absolute;
    z-index:1;
    width:50%;
    left:50%;
    margin-left:-25%;
    top:20px;
}
.mapboxgl-ctrl-geocoder { min-width:100%; }

div#floating-btns {
    position: absolute;
    top: 7%;
    right: 0;
}
button#filterInsurance {
    background: #fff;
    border: 0;
    border-radius: 5px;
    padding: 10px 30px;
    position: relative;
    width: auto;
    color: #000;
    display: block;
    margin: 10px;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
}
.dropdown-menu.show {
    max-width: 100%;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    background: rgba(3, 171, 161, 0.8);
    color: #fff;
    border-radius: 0;
    display: block;
    padding: 10px 45px;
    white-space: nowrap;
    position: absolute !important;
    left: 0 !important;
}
