<div class="mgl-content">
  <div class="row no-gutters">
    <div class="col-lg-9 order-sm-12">
        
        <mgl-map
          *ngIf="!currentLocation.ready"
          [style]="'mapbox://styles/iamztir/cjiluwbpv4shq2rps7yd1urdz'"
          [zoom]="[13]"
          [center]="[103.850128, 1.290270]"
        >
        <mgl-control mglGeocoder [searchInput]=""></mgl-control>
        <!--  -->
        <mgl-marker *ngFor="let clinic of allClinics"
          [lngLat]="[clinic.longitude, clinic.latitude]"
        >
          <div
            (click)="markerClicked(clinic.id)"
            class="marker"
          >
          <img [src]="getIcon(clinic.Category)">
          </div>
        </mgl-marker>

        </mgl-map>

        <mgl-map
          [style]="'mapbox://styles/iamztir/cjiluwbpv4shq2rps7yd1urdz'"
          [zoom]="[15]"
          *ngIf="currentLocation.ready"
          [center]="[currentLocation.lng, currentLocation.lat]"
        >
        <mgl-control mglGeocoder [searchInput]=""></mgl-control>
        <!--  -->
        <mgl-marker 
          *ngIf="currentLocation.ready"
          [lngLat]="[currentLocation.lng, currentLocation.lat]"
        >
          <div
            class="marker"
          >
            You are here!
            <i class="fa fa-map-marker" style="font-size:35px"></i>
          </div>
        </mgl-marker>

        <mgl-marker *ngFor="let clinic of allClinics"
          [lngLat]="[clinic.longitude, clinic.latitude]"
        >
          <div
            (click)="markerClicked(clinic.id)"
            class="marker"
          >
          <img [src]="getIcon(clinic.Category)">
          </div>
        </mgl-marker>

        </mgl-map>

        <div id="floating-btns">
            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="filterInsurance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter by Insurance
              <div class="dropdown-menu" aria-labelledby="filterInsurance">

                <div row *ngFor="let insurance of insurances">
                  <label class="form-check-label">
                    <input 
                    class="form-check-input" type="checkbox" value="insurance"
                    (change)="checkboxChanged($event.target.checked, insurance)"
                    checked>
                  </label>
                  {{insurance}}
                </div>
                <div class="row">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="insurance"
                    (change)="noInsuranceCheckboxChanged($event.target.checked)" checked>
                    No insurance
                  </label>
                </div>  
              </div>
            </button></div>
            <div class="dropdown"><button class="btn btn-secondary dropdown-toggle" type="button" id="filterInsurance" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter by Category
              <div class="dropdown-menu" aria-labelledby="filterInsurance">

                <div *ngFor="let category of categories">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="{{category}}" 
                    (change)="categoryCheckboxChanged($event.target.checked, category)" checked>
                    {{category}}
                  </label>
                </div>
                <!-- checkboxChanged($event.returnValue, category) -->
              </div>
            </button></div>
        </div>
      </div>
    <div class="col-lg-3 order-sm-1">
        <div id="loclins" class="card">
            <div class="card-header">
                List of Clinics
            </div>
            <swiper [config]="config">
              <div class="swiper-wrapper">
                <div class="swiper-slide" *ngFor="let clinic of allClinics">
                  <div id="items"
                    [routerLink]="['/clinic-details']"
                    [queryParams]="{id: clinic.id}" 
                    *ngIf="isSelected(clinic.Insurance) && isCategorySelected(clinic.Category)">
                      <div class="slide-details">
                        <h6>{{clinic["Clinic Name"]}}</h6>
                        <p>
                          {{clinic.Category}} <br>
                          {{clinic.Address}} <br>
                        </p> 
                      </div>
                  </div>
                </div>
              </div>
            </swiper>
          </div>
      </div>
  </div>
</div>
<!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>