<div class="bg_hldr">
  <div class="container-fluid">
    <div class="preloader-wrapper">
      <div class="spinner-global spinner1"></div>
      <div class="spinner-global spinner2"></div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-4 col">
          <img class="lgn-icn" src="assets/images/igaku-fav.png"/>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-4 col"> 
          <form (ngSubmit)="onLogin(f)" #f="ngForm" novalidate> 
              
            <div class="form-group"> 
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" ngModel>
            </div>
            
            <div class="form-group">
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" ngModel>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
          </form>
        </div>
    </div>
  </div>
</div>