.form-control{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #cf3150;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
    border-radius: 0;
    color:#fff;
}
button {
    background: linear-gradient(-90deg, #df526e, #cf3150);
    border-radius: 40px;
    border: 0;
    padding: 12px 40px;
    display: block;
    margin: 60px auto 0;
    text-transform: uppercase;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-transform: uppercase;
    color:#fff;
}
::-moz-placeholder { /* Firefox 19+ */
    text-transform: uppercase;
    color:#fff;
}
:-ms-input-placeholder { /* IE 10+ */
    text-transform: uppercase;
    color:#fff;
}
:-moz-placeholder { /* Firefox 18- */
    text-transform: uppercase;
    color:#fff;
}
.form-control:focus{box-shadow:none !important;}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {box-shadow: none !important; border-color:#cf3150 !important;background: linear-gradient(-90deg, #df526e, #cf3150) !important;}
.bg_hldr{
    padding:12% 0;
}
h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.lgn-icn {height:100px;display: block; margin:0 auto 35px;}
.spinner-global {
    margin: 80px auto;
    border-radius: 100%;
    z-index: 99999999999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.spinner1{
    width: 600px;
    height: 600px;
    background-color: #fff;
    -webkit-animation: sk-scaleout 3s infinite ease-in-out;
    animation: sk-scaleout 3s infinite ease-in-out;
    opacity: 0.3;
    top:5%;
}
.spinner2{
    background-color: #fff;
    width: 400px;
    height: 400px;
    -webkit-animation: sk-scaleout 3.5s infinite ease-in-out;
    animation: sk-scaleout 3.5s infinite ease-in-out;
    top:16%;
    opacity: 0.4;
}
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }
@media(max-width:480px){
    .bg_hldr{
        background-size: cover;
        padding: 21% 5%;
    }
}
