<div *ngIf="clinic">
  <h2>{{clinic['Clinic Name']}}</h2>
  <h3>{{clinic.Category}}</h3> 
  <div>{{clinic.Address}}</div>

  <br>
  <h4>Doctor(s)</h4>
  <div *ngIf="clinic['Doctor(s)/practitioner'].length !== 0 else noDoc">
    <div *ngFor="let doctor of clinic['Doctor(s)/practitioner']">{{doctor}}</div>
  </div>

  <ng-template #noDoc>
    <div>
      No Doctors are currently registered in this clinic.
    </div>
  </ng-template>

  <br>
  <h4>Hours</h4>
  <div>Monday: {{clinic.Hours.Monday}}</div>
  <div>Tuesday: {{clinic.Hours.Tuesday}}</div>
  <div>Wednesday: {{clinic.Hours.Wednesday}}</div>
  <div>Thursday: {{clinic.Hours.Thursday}}</div>
  <div>Friday: {{clinic.Hours.Friday}}</div>
  <div>Saturday: {{clinic.Hours.Saturday}}</div>
  <div>Sunday: {{clinic.Hours.Sunday}}</div>

  <br>
  <h4>Specialties:</h4>
  <div *ngIf="clinic['Specialties'].length !== 0 else noSpec">
    <div *ngFor="let Specialty of clinic['Specialties']">{{Specialty}}</div>
  </div>
  <ng-template #noSpec>
    <div>
      This clinic has no specialties.
    </div>
  </ng-template>

  <br>
  <h4>Covered by</h4>
  <div *ngIf="clinic['Insurance'].length !== 0 else noIns">
    <div *ngFor="let Insurance of clinic['Insurance']">{{Insurance}}</div>
  </div>
  <ng-template #noIns>
    <div>
      No Insurances currently covers this clinic.<br>
    </div>
  </ng-template>

  <br>
  <h4>Consultation fees (Per Session)</h4>
  <div>Minimum: {{clinic['Minimum Fee per session']}}</div>
  <div>Maximum: {{clinic['Maximum Fee per session']}}</div>

  <br>
  <button class="btn btn-info" [routerLink]="['edit']">Edit this Clinic</button>

  
</div>
  