<div class="row">
    <div class="col-md-12">
      <h3 *ngIf="!editMode">Add a new clinic</h3>
      <form [formGroup]="clinicForm" (ngSubmit)="onSubmit()">
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Clinic Name</label>
              <input 
              type="text"
              class="form-control"
              formControlName="name">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Category</label>
              <input 
              type="text"
              class="form-control"
              formControlName="category">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Address</label>
              <textarea
              class="form-control"
              rows="span3"
              formControlName="address">
              </textarea>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Maximum Fee per Session</label>
              <input 
              type="text"
              class="form-control"
              formControlName="maxFee">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Minimum Fee per Session</label>
              <input 
              type="text"
              class="form-control"
              formControlName="minFee">
            </div>
          </div>
        </div>
  
        <hr>

        <h3>Hours</h3>
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Monday Hours</label>
              <input 
              type="text"
              class="form-control"
              formControlName="monday">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Tuesday Hours</label>
              <input 
              type="text"
              class="form-control"
              formControlName="tuesday">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Wednesday Hours</label>
              <input 
              type="text"
              class="form-control"
              formControlName="wednesday">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Thursday Hours</label>
              <input 
              type="text"
              class="form-control"
              formControlName="thursday">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Friday Hours</label>
              <input 
              type="text"
              class="form-control"
              formControlName="friday">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Saturday Hours</label>
              <input 
              type="text"
              class="form-control"
              formControlName="saturday">
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Sunday Hours</label>
              <input 
              type="text"
              class="form-control"
              formControlName="sunday">
            </div>
          </div>
        </div>
  
        <hr>
  
        <div class="row">
          <div class="col-md-12" 
          formArrayName="doctors">
            <h3>Doctors</h3>
            <div class="row"
            *ngFor="let doctorCtrl of clinicForm.get('doctors')['controls']; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px">
  
              <div class="col-md-8">
                <input
                type="text"
                class="form-control"
                formControlName="name">
              </div>
  
              <div class="col-xs-2">
                <button class="btn btn-danger" type="button" (click)="onDelete('doctors', i)">Delete</button>
              </div>
  
            </div>
  
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-success" type="button" (click)="onAdd('doctors')">Add Doctor</button>
              </div>
            </div>
  
            <hr>
  
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12" 
          formArrayName="specialties">
            <h3>Specialties</h3>
            <div class="row"
            *ngFor="let specialtyCtrl of clinicForm.get('specialties')['controls']; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px">
  
              <div class="col-md-8">
                <input
                type="text"
                class="form-control"
                formControlName="name">
              </div>
  
              <div class="col-xs-2">
                <button class="btn btn-danger" type="button" (click)="onDelete('specialties',i)">Delete</button>
              </div>
  
            </div>
  
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-success" type="button" (click)="onAdd('specialties')">Add Speciality</button>
              </div>
            </div>
  
            <hr>
  
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12" 
          formArrayName="insurances">
            <h3>Insurances</h3>
            <div class="row"
            *ngFor="let insuranceCtrl of clinicForm.get('insurances')['controls']; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px">
  
              <div class="col-md-8">
                <input
                type="text"
                class="form-control"
                formControlName="name">
              </div>
  
              <div class="col-xs-2">
                <button class="btn btn-danger" type="button" (click)="onDelete('insurances', i)">Delete</button>
              </div>
  
            </div>
  
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-success" type="button" (click)="onAdd('insurances')">Add Insurance</button>
              </div>
            </div>
  
            <hr>
  
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-12" 
          formArrayName="admins">
            <h3>Admins</h3>
            <div class="row"
            *ngFor="let adminCtrl of clinicForm.get('admins')['controls']; let i = index"
            [formGroupName]="i"
            style="margin-top: 10px">
  
              <div class="col-md-8">
                <input
                type="text"
                class="form-control"
                formControlName="name">
              </div>
  
              <div class="col-xs-2">
                <button class="btn btn-danger" type="button" (click)="onDelete('admins', i)">Delete</button>
              </div>
  
            </div>
  
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-success" type="button" (click)="onAdd('admins')">Add Admin</button>
              </div>
            </div>
  
            <hr>
  
          </div>
        </div>
  
  
        <div class="row">
          <div class="col-md-12">
            <button type="submit" [disabled]="!clinicForm.valid" class="btn btn-success">Save</button>
            <button type="button" (click)="onCancel()" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>