<a 
  style="cursor: pointer" 
  [routerLink]="[clinic.id]"
  [routerLinkActive]="'active'"
  class="list-group-item clearfix">

  <div class="pull-left">
    <p class="list-group-item-heading">{{clinic["Clinic Name"]}}</p>
  </div>
  
  <!-- <span class="pull-right">
    <img 
    [src]="recipe.imagePath" 
    alt="" 
    class="img-responsive" 
    style="max-height: 50px;">
  </span> -->

</a>