mgl-map{height:100vh;}
div.horizon .container{z-index: 9999;position: relative;}
.navbar-brand img{height: 30px;margin-top: 30px;}
.nav-links{margin: 0;padding:0;float:right;}
.nav-links li {display: inline-block;margin: 30px 15px;}
.nav-links li a{font-size: 16px;color:#fff;}
.nav-links li a:hover{text-decoration: none;}
/* div.horizon{
	background-image: url('/assets/images/map_bg.jpg');
	background-size: cover;
	position: relative;
} */
.search-div{margin: 40% auto 10%;}
.search-div .form-control{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
    border-radius: 0;
	color:#fff;
	text-align: center;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-transform: uppercase;
    color:#fff;
}
::-moz-placeholder { /* Firefox 19+ */
    text-transform: uppercase;
    color:#fff;
}
:-ms-input-placeholder { /* IE 10+ */
    text-transform: uppercase;
    color:#fff;
}
:-moz-placeholder { /* Firefox 18- */
    text-transform: uppercase;
    color:#fff;
}
.form-control:focus{box-shadow:none !important;}
div.horizon img.mpbg{
	position: absolute;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	height: auto;
	width: 100%;
}
div.horizon {
	height: 100vh;
  }
div.horizon::after
 {
	position: absolute;
	content:"";
	display: block;
    width: 100%;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB), url('/assets/images/map_bg.jpg') no-repeat center;
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	opacity: 0.9;
	height: 113vh;
    top: 0;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@media(max-width:425px){
	.nav-links li {
		display: block;
		margin:0;
	}
	.nav-links li:first-child {
		margin: 35px 0 5px;
	}
}
