<div class="horizon">
    <img class="mpbg" src="/assets/images/map_bg.jpg"/>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-3 col">
                <a routerLink="/" class="navbar-brand"><img src="/assets/images/Igaku-logo-outlined.png"/></a>
            </div>
            <div class="col-lg-9 col">
                <ul class="nav-links">
                    <li><a [routerLink]="'about-us'">About Us</a></li>
                    <li><a [routerLink]="'contact-us'">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-8 col">
                <div class="search-div">
                    <input type="text" class="form-control form-text" placeholder="Search...">
                </div>
            </div>
        </div>
    </div>
</div>
