.top-bar{display: block;background: #58b2a9;width: 100%;height: 40px;}
nav.navbar.navbar-expand-md.navbar-light.bg-light {border-bottom: 2px solid #58b2a9;}
.navbar-brand img {height: 30px;max-width: 100%;}