<div class="top-bar"></div>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <div class="navbar-header">
            <a routerLink="/" class="navbar-brand"><img src="/assets/images/Igaku-logo.png"/></a>
        </div>

        <button id="nav-btn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDiv" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div id="navbarDiv" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="navbar-item" [routerLinkActive]="'active'">
                    <a class="nav-link" [routerLink]="'home'">Home</a>
                </li>
                <li class="navbar-item" [routerLinkActive]="'active'">
                    <a class="nav-link" [routerLink]="'contact-us'">Contact Us</a>
                </li>
                <li class="navbar-item" [routerLinkActive]="'active'">
                    <a class="nav-link" [routerLink]="'about-us'">About Us</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                

                <li class="navbar-item navbar-right" *ngIf="authService.isAuthenticated()" [routerLinkActive]="'active'">
                    <a class="nav-link" [routerLink]="'/accountsettings'">My Account</a>
                </li>
                
                <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" style="cursor: pointer" (click)="onLogout()">Log Out</a>
                    </div>
                </li>
  
                <li *ngIf="!authService.isAuthenticated()" class="navbar-item navbar-right" [routerLinkActive]="'active'">
                    <a class="nav-link" [routerLink]="'/login'">Login</a>
                </li>
                <li *ngIf="!authService.isAuthenticated()" class="navbar-item navbar-right" [routerLinkActive]="'active'">
                    <a class="nav-link" [routerLink]="'/register'">Register</a>
                </li>
            </ul>

        </div>
    </div>
  </nav>