<div class="row">
  <div class="col-md-6">
    <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <h6>Full Name:</h6>
      <input type="text" class="form-control form-text"
      formControlName="name">
      <br>
    
      <h6>Email Contact:</h6>
      <input type="text" class="form-control form-text"
      formControlName="email">
      <br>
    
      <h6>Phone Contact</h6>
      <input type="text" class="form-control form-text"
      formControlName="phone">
      <br>
    
      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn-info btn">Save Changes</button>
        </div>
      </div>  
    </form> 

  </div>
</div>