.bg_hldr{
    padding:5% 0;
}
h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}
p{
    color:#fff;
}
hr{margin:30px;border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(198, 49, 79, 0), rgba(198, 49, 79, 0.75), rgba(198, 49, 79, 0));}
h4{color: #000;text-transform: uppercase;font-weight: bold;}