<div class="bg_hldr">
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col">
            <img class="lgn-icn" src="assets/images/igaku-fav.png"/>
            <h2>About Us</h2>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-6 col">
            <p>Your favourite GP is closed today. You're fighting an awful migraine and definitely don't want to get dressed for work. Where are you going to find another doctor that's open, somewhat near you, is credible and accepts your company's insurance plan. Luckily, you have us. We want to make it easier for you to find not just doctors but other awesome healthcare professionals such as psychologists, physiotherapists, speech therapists and many more! We've got a bunch of other cool services to come in the future like appointment bookings, integrated video calls and potentially medication delivery so stay tuned for more! Remember to like and share our Facebook  page to keep up to date with us!
                </p>
            <hr>
            <h4>Brand story</h4>

            <p>We're a Singapore based telehealth startup on a mission to make a positive impact on the channels that patients reach clinics and clinics reach out to their patients.</p>
            </div>
        </div>
    </div>
</div>