<h1>Account Settings</h1>
<div class="bd-example bd-example-tabs">

  <nav class="nav nav-tabs" id="nav-tab" role="tablist">

    <!-- tab menu -->
    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="profile" aria-expanded="false" [routerLink]="'profile'">Profile</a>
    <a class="nav-item nav-link" id="nav-myclinics-tab" data-toggle="tab" href="#nav-myclinics" role="tab" aria-controls="myclinics" aria-expanded="true" [routerLink]="'my-clinics'">My Clinics</a>

    <!-- <div class="dropdown">
      <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Dropdown
      </a>
      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;">
        <a class="dropdown-item" id="nav-dropdown1-tab" href="#nav-dropdown1" role="tab" data-toggle="tab" aria-controls="dropdown1">@fat</a>
        <a class="dropdown-item" id="nav-dropdown2-tab" href="#nav-dropdown2" role="tab" data-toggle="tab" aria-controls="dropdown2">@mdo</a>
      </div>
    </div> -->

  </nav>

  <router-outlet>

  </router-outlet>
</div>