<div class="bg_hldr">
  <div style="padding-top: 2%; height: 100%;" class="container">
      <div class="row justify-content-md-center">
          <div class="col-lg-4 col">
            <img class="lgn-icn" src="assets/images/igaku-fav.png"/>
          </div>
      </div>
      <div class="row justify-content-md-center">
          <div class="col-lg-6 col"> 
            <form (ngSubmit)="onRegister(f)" #f="ngForm">

              <div class="form-group">
                <input type="text" class="form-control" name="fullName" id="fullName" placeholder="Full Name" ngModel>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="salutation" id="salutation" placeholder="Salutation" ngModel>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" name="licensenumber" id="licensenumber" placeholder="License number" ngModel>
              </div>

              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" ngModel>
              </div>
              
              <div class="form-group">
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" ngModel>
              </div>

              <div class="form-group">
                <input type="password" class="form-control" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" ngModel>
              </div>

              <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign up</button>
            </form>
          </div>
      </div>
  </div>
</div>