<div class="row">

  <div class="col-md-5">

    <div class="row">
      <button class="btn btn-success" [routerLink]="['new']">Add a Clinic</button>
    </div>

    <hr>
    <h3>My Clinics</h3>
    <div class="row">
      <app-clinic-list></app-clinic-list>
    </div>

  </div>

  <div class="col-md-7">

    <router-outlet></router-outlet>

  </div>


</div>
